<h1>Beer Description</h1>


<p>{{beer.name}}</p>


<a href="/beer-description/{{beer._id}}/add-review">Add review</a>



<details>
    <summary>Reviews</summary>
    <p>{{review.review}}</p>
</details>

