<h1>THIS IS THE MAIN PAGE WITH ALL THE BEERS</h1>

{{!-- <img
  src="https://www.elcolombiano.com/documents/10157/0/699x365/36c0/580d365/none/11101/GVCX/image_content_34183973_20190906164552.jpg"
  alt=""> --}}

<a href="/">
  <button>RETURN</button>
</a>