<div class="login">
<h1 class="title">Beer O'clock</h1>
<h3 class="title">Make your beer taste great again</h3>


<form action="/auth/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Username:</label>
  <br>
  <input type="text" name="username">
<br>
  <label for="password">Password:</label>
  <br>
  <input type="password"  name="password">

  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
<br>
  <button >Sign in</button>

  

  <p class="account-message">
    Don't have an account? <a href="/auth/signup">Sign up</a>
  </p>
</form>
</div>