<h1>SIGNUP PAGE</h1>

<form id="form" action='/auth/signup' method='POST'>

  <label for=''>Username :</label>
  <input type='text' name='username' required>

  <label for=''>Password :</label>
  <input id="myPassword" type='password' name='password' required>

  <label for=''>City :</label>
  <input type='text' name='city'>

  <label for=''>Country :</label>
  <input type='text' name='country' required>
  <br>

{{!-- <legend>Beer Preference</legend> --}}
   <label for="">Beer Preference:</label>
  {{!-- <select id="beer-preference" name="beer-preference" required>
    <option value="lager">Lager</option>
    <option value="pilsner">Pilsner</option>
    <option value="wheat beer">Wheat beer</option>
    <option value="witbier">Witbier</option>
    <option value="IPA">IPA</option>
    <option value="porter">Porter</option>
    <option value="stout">Stout</option>
    <option value="gose">Gose</option>
    <option value="sour">Sour</option>
    <option value="no preference">No preference</option> --}}
    {{!-- </select> --}}
    {{!-- <fieldset> --}}
    <div>
    <input type="checkbox" id="lager" name="beerPreference" value="lager">
    <label for="">Lager</label>
  </div>
  <div>
    <input type="checkbox" id="pilsner" name="beerPreference" value="pilsner">
    <label for="">Pilsner</label>
  </div>
  <div>
    <input type="checkbox" id="wheat-beer" name="beerPreference" value="wheat-beer">
    <label for="">Wheat beer</label>
  </div>
  <div>
    <input type="checkbox" id="witbier" name="beerPreference" value="witbier">
    <label for="">Witbier</label>
  </div>
  <div>
    <input type="checkbox" id="IPA" name="beerPreference" value="IPA">
    <label for="">IPA</label>
  </div>
  <div>
    <input type="checkbox" id="porter" name="beerPreference" value="porter">
    <label for="">Porter</label>
  </div>
  <div>
    <input type="checkbox" id="stout" name="beerPreference" value="stout">
    <label for="">Stout</label>
  </div>
  <div>
    <input type="checkbox" id="gose" name="beerPreference" value="gose">
    <label for="">Gose</label>
  </div>
  <div>
    <input type="checkbox" id="sour" name="beerPreference" value="sour">
    <label for="">Sour</label>
  </div>
   <div>
    <input type="checkbox" id="no-preference" name="beerPreference" value="no preference">
    <label for="">No preference</label>
  </div>

    {{!-- </fieldset> --}}
  


  

  <button type='submit'>Submit</button>
</form>

{{!-- Error message display --}}
{{#if errorMessage}}
<div class="error-message"> {{errorMessage}} </div>
{{/if}}


