<h1 class="signup-title">SIGNUP PAGE</h1>

<form id="form" action='/auth/signup' method='POST'>

  <label for=''>Username:</label>

  <input type='text' name='username' required>


  <label for=''>Password :</label>

  <input id="myPassword" type='password' name='password' required>

  <label for=''>City :</label>

  <input type='text' name='city'>

  <label for=''>Country :</label>

  <input type='text' name='country' required>


  {{!-- <legend>Beer Preference</legend> --}}
  <label style="margin-top:10px;" for="">Beer Preference:</label>
  
  {{!-- <select id="beer-preference" name="beer-preference" required>
    <option value="lager">Lager</option>
    <option value="pilsner">Pilsner</option>
    <option value="wheat beer">Wheat beer</option>
    <option value="witbier">Witbier</option>
    <option value="IPA">IPA</option>
    <option value="porter">Porter</option>
    <option value="stout">Stout</option>
    <option value="gose">Gose</option>
    <option value="sour">Sour</option>
    <option value="no preference">No preference</option> --}}
  {{!-- </select> --}}
  {{!-- <fieldset> --}}
  
  <details>
    <summary>Select yours</summary>
  <div>
    <input type="checkbox" class="checkbox"id="lager" name="beerPreference" placeholder="Lager" value="lager">
    <br>
    <label for="">Lager</label>
  </div>
  
  <div>
    <input type="checkbox" class="checkbox" id="pilsner" name="beerPreference" value="pilsner">
    <br>
    <label for="">Pilsner</label>
  </div>
  <div>
    <input type="checkbox" class="checkbox" id="wheat-beer" name="beerPreference" value="wheat beer">
    <br>
    <label for="">Wheat beer</label>
  </div>
  <div>
    <input type="checkbox"  class="checkbox" id="witbier" name="beerPreference" value="witbier">
    <br>
    <label for="">Witbier</label>
  </div>
  <div>
    <input type="checkbox" class="checkbox" id="IPA" name="beerPreference" value="IPA">
    <br>
    <label for="">IPA</label>
  </div>
  <div>
    <input type="checkbox" class="checkbox" id="porter" name="beerPreference" value="porter">
    <br>
    <label for="">Porter</label>
  </div>
  <div>
    <input type="checkbox" class="checkbox" id="stout" name="beerPreference" value="stout">
    <br>
    <label for="">Stout</label>
  </div>
  <div>
    <input type="checkbox" class="checkbox" id="gose" name="beerPreference" value="gose">
    <br>
    <label for="">Gose</label>
  </div>
  <div>
    <input type="checkbox" class="checkbox" id="sour" name="beerPreference" value="sour">
    <br>
    <label for="">Sour</label>
  </div>
  <div>
    <input type="checkbox" class="checkbox" id="no-preference" name="beerPreference" value="no preference">
    <br>
    <label for="">No preference</label>
  </div>
</details>
  {{!-- </fieldset> --}}





  <button type='submit'>Submit</button>
</form>

{{!-- Error message display --}}
{{#if errorMessage}}
<div class="error-message"> {{errorMessage}} </div>
{{/if}}