<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

<h1 class="title">SIGNUP PAGE</h1>

<form id="form" action='/auth/signup' method='POST'>

  <label for=''>Username:</label>

  <input type='text' name='username' required>


  <label for='password'>Password :</label>

  <input id="myPassword" type='password' name='password' required >
  {{!-- <input type="password"  id="password" required>
  <meter max="4" id="password-strength-meter"></meter>
<p id="password-strength-text"></p> --}}

  <label for=''>City :</label>

  <input type='text' name='city'>

  <label for=''>Country :</label>

  <input type='text' name='country' required>


  {{!-- <legend>Beer Preference</legend> --}}
  <label style="margin-top:10px;" for="">Beer Preference:</label>

  <details class="prefSelect">
    <summary>Select yours</summary>
    <div>
      <label for="lager">Lager</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="lager" name="beerPreference" placeholder="Lager"
        value="lager">
    </div>
    <div>
      <label for="pilsner">Pilsner</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="pilsner" name="beerPreference" value="pilsner">
    </div>
    <div>

      <label for="wheat-beer">Wheat beer</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="wheat-beer" name="beerPreference"
        value="wheat beer">
    </div>
    <div>
      <label for="witbier">Witbier</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="witbier" name="beerPreference" value="witbier">

    </div>
    <div>
      <label for="IPA">IPA</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="IPA" name="beerPreference" value="IPA">
    </div>
    <div>
      <label for="porter">Porter</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="porter" name="beerPreference" value="porter">
    </div>
    <div>
      <label for="stout">Stout</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="stout" name="beerPreference" value="stout">
    </div>
    <div class="checkbox">
      <label for="gose">Gose</label>
      <input type="checkbox" style="height: 1em;" id="gose" name="beerPreference" value="gose">
    </div>
    <div>
      <label for="sour">Sour</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="sour" name="beerPreference" value="sour">
    </div>
    <div>
      <label for="no-preference">No preference</label>
      <input type="checkbox" class="checkbox" style="height: 1em;" id="no-preference" name="beerPreference"
        value="no preference">
    </div>
  </details>

  {{!-- </fieldset> --}}





  <button type='submit'>Submit</button>
</form>

{{!-- Error message display --}}
{{#if errorMessage}}
<div class="error-message"> {{errorMessage}} </div>
{{/if}}